src/flows/BMCRF_Auto_Assign_Acknowledged_Incidents-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Responded_Date_To_Now</name>
        <label>Assign Responded Date To Now</label>
        <locationX>326</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>incident.BMCServiceDesk__respondedDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Staff_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Staff_to_Incident</name>
        <label>Assign Staff to Incident</label>
        <locationX>732</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>incident.BMCServiceDesk__FKOpenBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignToId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Incident</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Assignee_Belong_To_Queue</name>
        <label>Does Assignee Belong To Queue?</label>
        <locationX>547</locationX>
        <locationY>362</locationY>
        <defaultConnectorLabel>Decision_Default_Does_Assignee_Belong_To_Queue</defaultConnectorLabel>
        <rules>
            <name>Decision_Yes_Does_Assignee_Belong_To_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>groupMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Staff_to_Incident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Decision_No_Does_Assignee_Belong_To_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>groupMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Incident</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Incident_State_Open</name>
        <label>Is Incident State Open?</label>
        <locationX>51</locationX>
        <locationY>127</locationY>
        <defaultConnectorLabel>Decision_Default_Is_Incident_State_Open</defaultConnectorLabel>
        <rules>
            <name>Decision_Yes_Is_Incident_State_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incident.BMCServiceDesk__state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Responded_Date_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Decision_No_Is_Incident_State_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incident.BMCServiceDesk__state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Responded_Date_Null</name>
        <label>Is Responded Date Null?</label>
        <locationX>229</locationX>
        <locationY>129</locationY>
        <defaultConnectorLabel>Decision_Default_Is_Responded_Date_Null</defaultConnectorLabel>
        <rules>
            <name>Decision_Yes_Is_Responded_Date_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incident.BMCServiceDesk__respondedDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Responded_Date_To_Now</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Decision_No_Is_Responded_Date_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incident.BMCServiceDesk__respondedDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Staff_Assigned</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Staff_Assigned</name>
        <label>Is Staff Assigned?</label>
        <locationX>427</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>Decision_Default_Is_Staff_Assigned</defaultConnectorLabel>
        <rules>
            <name>Decision_Yes_Is_Staff_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incident.BMCServiceDesk__FKOpenBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Incident</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Decision_No_Is_Staff_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incident.BMCServiceDesk__FKOpenBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Member</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Sets the responded date to now (if not set) and assigns as staff the passed in user id (if a member of the incident&apos;s queue). Designed for workflow rule when incident&apos;s stage goes from opened to non-opened to help automate setting common fields. For example, changing status from Opened to Acknowledged should auto-set the responded date and assign the current user as staff.</description>
    <label>BMCRF - Auto Assign Acknowledged Incidents</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Look up if the new staff assignee belongs to the incident&apos;s queue. Only if they are a member will we change the staff field.</description>
        <name>Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>497</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Assignee_Belong_To_Queue</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incident.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignToId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>groupMember</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>51</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Incident_State_Open</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <object>BMCServiceDesk__Incident__c</object>
        <outputReference>incident</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BMCServiceDesk__state__c</queriedFields>
        <queriedFields>BMCServiceDesk__FKStatus__c</queriedFields>
        <queriedFields>BMCServiceDesk__respondedDateTime__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>BMCServiceDesk__FKOpenBy__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Incident</name>
        <label>Update Incident</label>
        <locationX>732</locationX>
        <locationY>129</locationY>
        <inputReference>incident</inputReference>
    </recordUpdates>
    <startElementReference>Get_Incident</startElementReference>
    <variables>
        <description>The user id to assign as Staff, if they belong to the incident&apos;s queue.</description>
        <name>assignToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>groupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>incident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BMCServiceDesk__Incident__c</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
